@media (max-width: 750px){
    body{
        font-size: 12px;
    }

    .pokedex{
        flex-direction: column;
        padding: 30px 0px;
        align-items: center;
    }

    .card_do_pokemon{
        max-width: 300px;
    }

    .card_do_pokemon .card_imagem{
        width: 200px;
        height: 200px;
    }

    .card_do_pokemon .card_infos{
        padding: 60px 30px 30px;
        margin-top: -40px;
    }

    .card_do_pokemon .card_infos h3{
        font-size: 16px;
    }

    .bag{
        max-width: 310px;
    }

    .bag ul{
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .bag .pokemon{
        width: 150px;
        border-radius: 5px;
        margin-bottom: 0px;
    }

    .bag .pokemon img{
        min-height: 40px;
        min-width: 40px;
        padding: 2px;
    }
}